.row{
  width: 100%;
  display: flex;
  justify-content: center;
  /* color: gray; */
  /* border: 2px solid red; */
}
.containerInner{
  display: flex;
  justify-content: center;
  max-width: 1444px;
  gap: 50px;
  flex-wrap: wrap;
  /* border: 2px solid green; */
}
.contentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  gap: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: rgb(225, 241, 252);
  /* border-radius: 8px; */
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}
.descriptionContainer{
  width: 80%;
}
.name{
  font-weight: bold;
  font-size: 1.3rem;
}
.profession{
  font-weight: bold;
}


/* @media screen and (max-width: 375px) {
  .container{
    padding: 20px 0px;
    gap: 15px;
    width: 100%;
    flex-direction: column;
  }
  .contentContainer {
    gap: 10px;
    width: 200px; 
    flex-direction: column;
  }
  .photo img{
    width: 100px;
    height: 100px;
  }
} */