.cardBody{
  background-color: #e1f2fd;
  padding: 20px 0;
  color: #03227067;
  font-weight: 400;
}
.cardTitle{
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #42ADF8;
  padding-top: 10px;
}
.textCont{
  width: 90%;
  border: 1px solid red;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin: 0 auto;
}
.cardText{
  text-overflow: ellipsis;
  padding: 15px 0;
}

.btnCard{
  background-color: white;
  color: #42ADF8;
  margin-bottom: 20px;
  border: 1px solid #42ADF8;
}
.btnCard:hover{
  border: 1px solid #42ADF8;
  background-color: #42ADF8;
  color: white;
}
.animation {
  transition: box-shadow 0.3s ease-out, transform 0.3s linear;
}
.animation:hover{
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.185);
  transform: scale(1.01);
}
.img{
  width: 300px;
  height: 200px;
  object-fit: cover;
}
