.modalContainer{
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  padding-top: 120px;
  background-color: rgba(0, 0, 0, 0.521);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContent{
  position: relative;
  display: flex;
  justify-content: center;
}
.x{
  position: relative;
}

.btnClose{
  position: absolute;
  top: -40px; 
  right: 0; 
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 50;
}
.leftArrow{
  position: absolute;
  top: 50%; 
  left: -35px; 
  font-size: 2rem;
  background-color: transparent;
  color: rgb(255, 255, 255);
  z-index: 50;
  cursor: pointer;
}
.righttArrow{
  position: absolute;
  top: 50%; 
  right: -35px; 
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: transparent;
  color: rgb(255, 255, 255);
  z-index: 50;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .modalContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .x{
    width: 90%;
  }
  .modalImg{
    width: 100%;
    height: auto;
    /* position: relative; */
  }
  .modalControls{
    position: relative;
    /* border: 1px solid red; */
    height: 30px;
    width: 100%;
    padding: 20px;
  }
  .btnClose{
    top: 5px; 
    right: 50%; 
    font-size: 1.5rem;
  }
  .leftArrow{
    top: 5px;  
    left: 0; 
    font-size: 1.5rem;
  }
  .righttArrow{
    top: 5px;  
    right: 0; 
    transform: translateY(-50%);
    font-size: 1.5rem;
    transform: translateY(0);
  }
}