/* paddding to at 150 because if I do 200 100 from the nav and 100 as the bottom the linear gradient creates the ilution of the space being more that it it */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 150px;
  flex: 1;
}

.containerInner{
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
}
.spinnerCont{
  position: absolute;
  left: 50%;
  z-index: 50;
  transform: translateX(-50%);
}
.loading{
  opacity: 0;
}
.containerInner label{
  color: #032270;
  font-weight: 600;
}
.containerInner label::after{
  content: '';
  display: block;
  background-color: red;
  width: 35px;
  height: 2px;
  margin-top: 2px;
}
.containerInner input{
  border: 1px solid rgb(207, 206, 206);
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
}
.containerInner input:focus {
  outline: none;
  border: 1px solid #42adf8;
}

.btn{
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

