.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.spinner{
  position: absolute;
}
.form{
  display: flex;
  flex-direction: column;
  width: 80%;
  color: rgb(146, 146, 146);
  max-width: 600px;
  margin-top: 40px;
  gap: 10px;
}
.form.loading{
  opacity: 0;
}
.form label{
  color: #42ADF8;
  font-weight: 600;
  font-size: 1.03rem;
}
.form input{
  border: none;
  border-bottom: 1px solid rgb(189, 189, 189);
  padding: 3px 5px;
  color: rgb(150, 150, 150);
  margin-bottom: 25px;
}
.form input::placeholder{
  color: rgb(216, 216, 216);
}
.form input:focus{
  outline: none
}
.select{
  border: none;
  border-bottom: 1px solid rgb(189, 189, 189);
  color: rgb(189, 189, 189);
  padding: 3px 5px;
  margin-bottom: 25px;
}
.select:focus{
  outline: none;
}
.select option:focus{
  border: 1px solid red;
  outline: none;
}
.row{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* width: 80%; */
  margin-bottom: 15px;
}
.btnContainer{
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.btnContainer button{
  max-width: 100%;
  width: 100%;
  margin-top: 10px;
}
/* .success{
  color: green;
  font-weight: 600;
  font-size: 1rem;
}
.fail{
  color: red;
  font-weight: 600;
  font-size: 1rem;
} */



@media screen and (max-width: 600px){
  .row{
    width: 100%;
  }
}