:root {
  --font-roboto: var(${roboto.variable});
  --font-source-sans-3: var(${sourceSans3.variable});
}

/* use it like this
font-family: var(--font-source-sans-3);
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;

  position: relative;
  
}
.container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.fc .fc-button-primary {
  background-color: #42ADF8;
  border: 1px solid #42ADF8;
}
.fc .fc-button-primary:hover{
  background-color: white;
  border: 1px solid #42ADF8;
  color: #42ADF8;
}

.fc .fc-toolbar-title {
  font-size: 1em;
  margin: 0px;
}

.fc .fc-button {
  padding: 0.2em 0.35em;
}

@media screen and (max-width: 600px) {
  body{
    /* background-color: blue; */
    min-height: auto;
  }
  .container{
    align-items: center;
  }

}

