:root {
  --font-roboto: var(${roboto.variable});
  --font-source-sans-3: var(${sourceSans3.variable});
}

/* use it like this
font-family: var(--font-source-sans-3);
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.container{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  gap: 20px;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 375px) {
  body{
    /* background-color: blue; */
    min-height: auto;
  }
  .container{
    align-items: center;
  }
}

