:root {
  --font-roboto: var(${roboto.variable});
  --font-source-sans-3: var(${sourceSans3.variable}); 
}

/* use it like this
font-family: var(--font-source-sans-3);
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  font-family: 'Roboto', 'Source Sans 3', sans-serif;
  height: 100%;
  height: 100vh;
}
.container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.leftAlign{
  justify-content: flex-start;
}
/* calendar buttons */

.fc .fc-button-primary {
  background-color: #42ADF8;
  border: 1px solid #42ADF8;
}
.fc .fc-button-primary:hover{
  background-color: white;
  border: 1px solid #42ADF8;
  color: #42ADF8;
}
.fc .fc-toolbar-title {
  font-size: 1em;
  margin: 0px;
}
.fc-col-header-cell-cushion {
  color: rgb(105, 105, 105);
  text-decoration: none;
  font-weight: 400;
}
.fc .fc-daygrid-day-number {
  padding: 2px;
}
.fc-daygrid-day-number{
  text-decoration: none;
  color: gray;
}
.fc .fc-button {
  padding: 0.2em 0.35em;
}
.success{
  color: green;
  font-weight: 600;
  font-size: 1rem;
}
.fail{
  color: red;
  font-weight: 600;
  font-size: 1rem;
}

/* wave design svg classes */
.waveContainer{
  position: absolute;
  top: 350px;
  left: 0;
  width: 100%;
  height: 90%;
  background: linear-gradient(to bottom, #61c0ff44 0%, #ffffff 100%);
  z-index: -1;
}
.wave {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 0;
  /* transform: rotate(180deg); */
}
.wave svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 149px;
}
.wave .shapeFill {
  /* fill: #6DC5FF2A; */
  fill: white;
}

/* end wave */

/* Toastify customizations */

.Toastify__toast--success .Toastify__toast-icon svg {
  fill: #42ADF8;
}
.Toastify__toast--success .Toastify__progress-bar--success {
  background-color: #42ADF8 ; 
}

@media screen and (max-width: 600px) {
  body{
    /* background-color: blue; */
    min-height: auto;
  }
  .container{
    align-items: center;
  }

}

