.contentContainer{
  width: 100%;
  /* max-width: 1444px; */
  flex: 1;
}

.luxury{
  font-size: 20rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;   
  width: 100%;
  text-align: center;
  color: white;
  z-index: 5000;
  /* background-color: lightcoral; */
  line-height: 13rem;
  vertical-align: top;
  overflow: hidden;
  
}
.luxury::first-letter{
  margin-left: -25px;
}

@media screen and (max-width: 375px) {
  .contentContainer{
    padding-top: 0;
    /* background-color: pink; */
    width: 100%;
    flex: 1;
  }
  .luxury{
    flex: 1;
    font-size: 60px;
    top: -30%;
    left: 20%;
    color: blue;
  }
}