.contentContainer{
  width: 100%;
  flex: 1;
}

.luxury{
  font-size: 20rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;   
  width: 100%;
  text-align: center;
  color: white;
  z-index: 5000;
  line-height: 13rem;
  /* vertical-align: top; */
  overflow: hidden;
  padding: 10px 0;
}
.luxury::first-letter{
  margin-left: -25px;
}
.confortContainer{
  position: relative;
  /* border: 1px solid red; */
}
.confort{
  font-size: 20rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 5000;
  line-height: 14.3rem;
  vertical-align: bottom;
  overflow: hidden;
}
.confort::first-letter{
  margin-left: -25px;
}

@media screen and (max-width: 1259px) {
  .luxury{
    font-size: 18rem;
  }
  .confort{
    font-size: 16rem;
  }
}
@media screen and (max-width: 1024px) {
  .luxury{
    font-size: 16rem;
  }
  .confort{
    font-size: 13rem;
  }
}


@media screen and (max-width: 768px) {
  .luxury{
    font-size: 12rem;
  }
  .confort{
    font-size: 10rem;
  }
}
@media screen and (max-width: 600px) {
  .luxury{
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .confort{
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

}


