.contentContainer{
  width: 95%;
  max-width: 1444px;
  position: relative;
  flex: 1;
}

.luxury{
  font-size: 20rem;
  font-weight: bold;
  position: absolute;
  top: -40%;
  left: 8%;
  text-align: center;
  color: white;
  z-index: 5000;
}

@media screen and (max-width: 375px) {
  .contentContainer{
    padding-top: 50px;
    background-color: pink;
    width: 100%;
    flex: 1;
  }
  .luxury{
    flex: 1;
  }
}