.imageContainer{
  width: 100vw;
  height: 1080px;
  background-position: center;
  background-size: cover;
}
.IndexPage{
  background-image: url('../public/images/main.JPG');
  /* linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, rgba(66, 173, 248, 1) 100%), */
}
.crew{
  height: 600px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, rgba(66, 173, 248, 1) 100%), url('../public/images/yacht-15.JPG');
}

@media screen and (max-width: 375px) {
  .imageContainer{
    width: 100%;
    height: 200px;
  }
}