.imageContainer{
  top: 0;
  left: 0;
  width: 100vw;
  height: 1080px;
  background-color: orange;
  background-image: url('../public/images/main.JPG');
  background-position: center;
  background-size: cover;
}
