.imageContainer{
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.bgi{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('../public/images/main.JPG');
  background-position: center;
  background-size: cover;
}