.row{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.block{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reverseBlock{
  flex-direction: column-reverse;
}
.left img{
  object-fit: cover;
  height: 300px;
  max-width: 100%;
}
.right{
  padding: 40px 30px;
  color: #032270;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right h2::after{
  content:'';
  display: block;
  background-color: red;
  width: 60px;
  height: 2px;
  margin-top: 5px;
}
.right .rightBackground{
  color: white;
}
.rightBackground{
  background-color: rgb(41, 111, 196);
  color: white;
}

.right .btn{
  background-color: #032270;
}
@media screen and (min-width: 768px){
  .block{
    flex-direction: row;
  }
  .left{
    width: 50%;
  }
  .left img{
    height: 400px;
    width: 100%;
  }
  .right{
    padding: 0 80px;
    width: 50%;
    justify-content: center;
    /* align-items: center; */
  }
}