.modalContainer{
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  padding-top: 120px;
  background-color: rgba(0, 0, 0, 0.521);
  display: flex;
  align-items: center;
  justify-content: center;

}

.modalContent{
  position: relative;
  display: flex;
  justify-content: center;

}
.x{
  position: relative;
}
.modalImg{
  border-radius: 10px;
}
.btnClose{
  position: absolute;
  top: -40px; 
  right: 0; 
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 50;
}
.leftArrow{
  position: absolute;
  top: 50%; 
  left: -35px; 
  font-size: 2rem;
  background-color: transparent;
  color: rgb(255, 255, 255);
  z-index: 50;
  cursor: pointer;
}
.righttArrow{
  position: absolute;
  top: 50%; 
  right: -35px; 
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: transparent;
  color: rgb(255, 255, 255);
  z-index: 50;
  cursor: pointer;
}