.container{
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
.contentContainer{
  padding: 100px 0;
  /* width: 90%; controls width of the content */
}
.heroRow{
  display: flex;
  gap: 50px;
}
.left{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title{
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #42ADF8;
}
.description{
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  color: #4a4b4b;
}
.img{
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 375px) {
  .container{
    padding:0;
    width: 100%;
  }
  .contentContainer{
    padding: 30px 0;
  }
  .heroRow{
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    gap: 0;
  }
  .right{
    width: 90%;
  }
  .img{
    width: 100%;
    object-fit: cover;
    height: auto;
  }
  .title{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
  }
  .description{
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    padding: 10px;
  }
}