/* the main container controls everything inside the content.js its where you define the margin from the main image and from the footer */
.container{
  display: flex;
}
.contentContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
  max-width: 1000px;
  padding: 80px 0;
}

.section {
  text-align: center;
}