/* the main container controls everything inside the content.js its where you define the margin from the main image and from the footer */
.container{
  padding: 100px 20px;
  display: flex;
  justify-content: center;
}
.contentContainer {
  /* padding: 100px 0; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  margin-top: 10px;

}

.section {
  text-align: center;
}