.container{
  margin: 0 auto;
  max-width: 1000px;
}
.photoGrid{
  /* padding-top: 150px; */
  flex: 1;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 22px;
  margin: 0 20px;
  min-height: 100vh;
  margin-bottom: 80px;
}
.loading{
  text-align: center;
}
.gridItem{
  display: flex;
  justify-content: center;
  padding: 15px 8px;
  /* width: auto; */
}
.gridItem:hover{
  opacity: .6;
  transition: 0.5s;
}
.imgWrapper{
  /* width: 300px;
  height: 169px; */
  max-height: 169px;
}
.x{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.322);
  /* border-radius: 10px; */
}
.blurredImage{
  filter: blur(1px);
}
.loaded{
  filter: blur(0px);
}