.container{
  margin: 0 auto;
  max-width: 1000px;
  /* background-color: lightblue; */
}
.photoGrid{
  padding-top: 120px;
  flex: 1;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto;
  overflow: hidden;

}
.gridItem{
  display: flex;
  justify-content: center;
  padding: 20px 8px;
  width: auto;
}