
.nav{
  padding: 10px;
}
.nav svg{
  height: 30px;
}
.col{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .nav{
    padding: 5px;
  }
  .nav svg{
    height: 25px;
  }
  .col span{
    display: none;
  }
}