.graphicContainer{
  display: flex;
  
  border: 1px solid red;
  margin-bottom: 15px;
}
.btnCont{
  max-width: 180px;
}
.btn{
  margin-bottom: 15px;
}

.editBtnCont{
  display: flex;
  gap: 5px;
}

.editBtn{
  padding: 0px 0px;
  font-size: 0.8rem;
  height: 30px;
  width: 60px;
}
.cell{
  background-color: aqua;
}
