.container{
  flex: 1;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin-top: 100px;
}
.row{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.rowRight{
  padding: 10px 20px;
  width: 100%;
}
.btn{
  width: 130px;
  border-radius: 0.25em;
  padding: 5px 0;
  background-color: #42ADF8;
  border: 1px solid #42ADF8;;
}

@media screen and (max-width: 768px){
  .btn{
    width: 100px;
    font-size: 0.9rem;
  }
  .rowRight{
    padding: 5px 8px;
  }
}