.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  min-height: 100vh;
}
.row{
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.rowRight{
  padding: 10px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 95%;
  min-height: 400px;
  flex: 1;
  /* background-color: blue; */
}
.btn{
  width: 130px;
  border-radius: 0.25em;
  padding: 5px 0;
  background-color: #42ADF8;
  border: 1px solid #42ADF8;;
}

@media screen and (max-width: 768px){
  .btn{
    width: 100px;
    font-size: 0.9rem;
  }
  .rowRight{
    padding: 5px 0px;
    max-width: 100%;
    padding: 0 5px;
  }
}